input{
    font-size: 25px;
}
label{
    font-size: 25px;
}

button{
    font-size: 25px;
}

span{
    font-size: 25px;
}

.click{
    font-size: 25px;
    text-decoration: none;
    display: block;
}
.click:hover{
    color: black;
}

.fds{
    margin: 20px 50px;
    box-shadow:2px 5px 7px black;
    border:5px solid gray;
    
}


.htow{
    margin: 10px;
    width: 100%;
    text-align: center;
}

#yyt{
    font-size: 35px;
}

th{
    font-size: 25px;
    text-align: center;
}

h2{
    font-size: 25px;
margin-bottom: 0;
text-align: center;
}

tr>td{
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 25px;
    text-align: center;
}

h1{
    font-size: 35px;
margin-bottom: 0;
text-align: center;
}

.tabt{
    margin: 0 auto;
    background-color: antiquewhite;
    border: 1px solid black;
    border-collapse: collapse;
}

.tab{
    background-color: antiquewhite;
    justify-content: space-around;
    text-align: center;
    display: inline-block;
}

.trt{
    display: block;
}

body{
    min-width: 200px;
    max-width: 1200;
    min-height: 200px;
    max-height: 100%;
}


